#name{
    text-align: center;
    color: red;
}
#head{
  text-align: center;
}
body{
  background-color:  grey;
}
#viona{
    font-style: italic;
    color: #42f4c5;
}
.sch{
    color: #d941f4;
}
.eric {
  float: right;
  width: 400px
}
.ben{
    float:  left;
    width: 400px
}
den{
    font-size: 15px;
    font-style: italic;
    font-family: cursive;
}
